/* css de todo el sitio */
#main{
  width: 96%;
  margin: 10px auto;   /* centrar contenido */
  box-shadow: #808080;
}

#header {
  background: #203F80;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  height: 150px;
  text-align: center;
  padding-left: 100px;
  box-shadow: #808080;
}

#header img {
  float: left;
  padding-left: 60px;
  margin-top: 10px;
  padding-bottom: 5px;
  box-shadow: #808080;
}

#navbar {
  background: #0069d4;
  background-image: url(../imgs/line.jpg);
  height: 40px;
}

body {
  background-color:#9DBDC9;
}