/* css de todo el sitio */
*{
padding: 0;
margin: 0;
}

body {
  background-color:#9DBDC9;
  font-family: Arial, Helvetica, sans-serif;
}

#main{
  width: 96%;
  margin: 10px auto;   /* centrar contenido */
  box-shadow: #808080;
}

#header {
  background-color: #203F80;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  height: 150px;
  text-align: center;
  padding-left: 80px;
    white-space:nowrap;


}

#header img {
  float: left;
  padding-left: 10px;
  margin-top: 10px;
  padding-bottom: 5px;
  box-shadow: #808080;
}


#content
 {
   background: #FFFFFF;
   height: 100%;
   padding: 2% 2% 2% 2%
}

#footer{
     background: #203F80;
     border-top: 2px solid #CCCCCC;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     color: #FFFFFF;
}

.centrarform {
  padding: 3%;
  margin: 0 auto;
  box-shadow: #808080

}

